@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Reader;
  src: url("./assets/Reader-Regular.otf") format("opentype");
}

@font-face {
  font-family: Reader;
  font-weight: bold;
  src: url("./assets/Reader-Bold.otf") format("opentype");
}

body {
  
}

.main {
  background-image: url("./assets//background.png");
  background-position: center;
  letter-spacing: 1.1px;
  
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  perspective: 500px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  margin: 0 20px;

  background-color: aquamarine;
}